# Required connection configs for Kafka producer, consumer, and admin
bootstrap.servers=pkc-ep9mm.us-east-2.aws.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule   required username='VFA7ETYB5H2B5ZKR'   password='0fs3wDjh2MFk0ne4zHh9xmktBCkReBPOy9YiGAQgneCVqRGKWLhDbx1E5fYkXMIq';
sasl.mechanism=PLAIN
# Required for correctness in Apache Kafka clients prior to 2.6
client.dns.lookup=use_all_dns_ips

# Best practice for Kafka producer to prevent data loss
acks=all

# Required connection configs for Confluent Cloud Schema Registry
schema.registry.url=https://psrc-lzvd0.ap-southeast-2.aws.confluent.cloud
basic.auth.credentials.source=USER_INFO
basic.auth.user.info=LEG5TL52RNLSI3FD:3lKTlNv+JLK5a9EbppHhGDkTRS6/YpjgkfuVhzqoTzuE8wehJ3mE/DHVQ42snRciwiTzidtdFNQauHQRdc45W3w6fdSBgmKhDR/sMkP27gO8gERQZSKmsADZfB43vgRN
